:root {
  --accent: rgb(85, 0, 107);
  --accent-alpha-70: rgba(85, 0, 107, .7);
  --accent-alpha-20: rgba(85, 0, 107, .2);

  --background: #21202C;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
